body {
  margin-top: 200px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #74ebd5, #acb6e5);
  color: #333;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.content {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 90%;
}

#myProgress {
  position: relative;
  margin: 20px auto;
  border-radius: 5px;
  width: 80%;
  background-color: grey;
  overflow: hidden;
  height: 30px;
}

#myBar {
  width: 1%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

#currentDate {
  position: absolute;
  top: -25px;
  left: 0;
  white-space: nowrap;
  color: #333;
}

.move_button {
  background-color: #04AA6D;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#dateContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#dateContainer span {
  position: absolute;
}

#enlistmentDate {
  left: 0%;
}

#dischargeDate {
  right: 0%;
}